body {
	padding-top: 70px;
	background-color: #222;
	background: top center url('../img/txture.png') repeat #222;
	font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

iframe {
	margin-top: 9px;
	margin-left: 5px;
}

.navbar .nav {
	margin: 0;
}

.navbar .nav.pull-right {
	margin-left: 0;
}

.navbar .nav > li > a,
.navbar .nav > li > a:hover {
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	background-image: none;
	background-color: transparent;
	color: #fff;
}

#logo a {
	padding: 11px 10px 9px;
	font-size: 17px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

#us-states {
	top: auto;
	bottom: 0;
	width: 420px;
}

#us-states li {
	float: left;
	width: 33.33%;
}

#us-states a {
		white-space: nowrap;
		overflow: hidden;
	  text-overflow: ellipsis;
}

.btn,
.btn:hover {
	font-weight: normal;
}

.btn.active [class^="icon-"],
.btn.active [class*=" icon-"] {
	vertical-align: -2px;
}

.store {
	position: relative;
	margin-bottom: 20px;
}

.store:target .ribbon {
	background-color: rgba(255, 247, 139, 0.85);
}

.photo img {
	border-radius: 5px;
	/*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);*/
}

.ribbon {
	position: absolute;
	left: 0;
	bottom: 5px;
	width: 66%;
	max-width: 300px;
	padding: 5px 5px 5px 10px;
	background-color: rgba(255, 255, 255, 0.85);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	font-size: 11px;
	line-height: 16px;
	color: #444;
	text-shadow: none;
}

.ribbon a {
	color: #444;
}

.ribbon p {
	margin-bottom: 0;
}

.ribbon .anchor {
	cursor: pointer;
}

.ribbon .rnum {
	color: #000;
}

.ribbon .rnum,
.ribbon [class^="icon-"],
.ribbon [class*=" icon-"] {
	opacity: 0.7;
}

.btn-group {
	margin-right: 5px;
}

.btn-group.open .btn.dropdown-toggle {
	background-color: #3A3E41;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
}

.dropdown-menu {
	min-width: 200px;
}

.dropdown-menu a {
	color: #fff;
}

.modal {
	color: #fff;
}

.modal p {
	margin-bottom: 1em;
}

.modal a {
	color: #aaa;
}

.close {
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.twitter-item {
	width: 100px;
}

.fb-like,
.fb_iframe_widget,
li.fb-like.fb_iframe_widget.fb_iframe_widget_fluid {
	width: 80px !important;
	display: block !important;
	margin-right: 1em;
}

/* Landscape phones and down */
@media (max-width: 480px) {

	body {
		padding-top: 0;
	}

	#logo,
	.size-group{
		display: none;
	}

	[class*="span"] .photo img {
		height: auto;
		min-height: 190px;
	}

	.ribbon {
		padding: 5px 5px 5px 10px;
		font-size: 10px;
		line-height: 14px;
	}

	.ribbon p:nth-child(3) {
		display: none;
	}
}

@media (max-width: 768px) {

	#us-states {
		width: 140px;
		max-height: 300px;
		overflow-y: scroll;
	}

	#us-states li {
		float: none;
		width: 100%;
	}

	#right-menu {
		display: none;
	}

	.modal {
 		position: fixed;
		width: 90%;
		top: 20px !important;
		left: 5%;  
	}
}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {

	body {
		padding-top: 0;
	}

	.size-group {
		display: none;
	}

	[class*="span"] .photo img {
		width: 100%;
		height: auto;
		min-height: 300px;
	}
}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

	body {
		padding-top: 80px;
	}

	.navbar-fixed-top {
		position: fixed;
	}

	.span6 .photo img {
		width: 352px;
		height: 234px;
	}

	.span4 .photo img {
		width: 228px;
		height: 152px;
	}

	.span4 .ribbon {
		width: 80%;
	}

	.span4 .ribbon p:nth-child(2),
	.span4 .ribbon p:nth-child(3) {
		display: none;
	}
}


/* Medium desktop */
@media (min-width: 980px) and (max-width: 1199px) {

	.span6 .photo img {
		width: 460px;
		height: 306px;
	}

	.span4 .photo img {
		width: 300px;
		height: 200px;
	}

	.span4 .ribbon p:nth-child(2),
	.span4 .ribbon p:nth-child(3) {
		display: none;
	}
}


/* Large desktop */
@media (min-width: 1200px) {

	.store {
		margin-bottom: 30px;
	}

	.span6 .photo img {
		width: 564px;
		height: 376px;
	}

	.span4 .photo img {
		width: 370px;
		height: 246px;
	}

	.span4 .ribbon p:nth-child(2),
	.span4 .ribbon p:nth-child(3) {
		display: block;
	}
}