<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Apple Storefronts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
  <meta name="description" content="A photo gallery of every Apple retail store the world over.">
  <meta name="author" content="Thomas Park">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="canonical" href="https://applestorefronts.appspot.com/">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="/vendor/font-awesome/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
  <link rel="apple-touch-icon" sizes="144x144" href="img/icon-144x144.png">

  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23019901-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>

</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=368810406570577&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">

        <ul class="nav" id="logo">
          <li class=""><a href="/">Apple Storefronts</a></li>
        </ul>

        <ul class="nav" id="main-menu">
          <li>
            <div class="btn-group">
              <a class="btn dropdown-toggle" data-toggle="dropdown" title="Filter by Location" href="#">
                {{ filter }}
                <i class="fa-solid fa-filter"></i>
              </a>
              <ul class="dropdown-menu" data-no-collapse="true">
                <li><a href="{{ modify_query(filter = None) }}">All</a></li>
                <li><a href="{{ modify_query(filter = "gallery") }}">Gallery <i title="Top Picks" class="fas fa-star"></i></a></li>
                <li class="divider"></li>
                <li><a href="{{ modify_query(filter = "australia") }}">Australia</a></li>
                <li><a href="{{ modify_query(filter = "austria") }}">Austria</a></li>
                <li><a href="{{ modify_query(filter = "belgium") }}">Belgium</a></li>
                <li><a href="{{ modify_query(filter = "brazil") }}">Brazil</a></li>
                <li class="dropdown-submenu">
                  <a href="{{ modify_query(filter = "canada") }}">Canada</a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ modify_query(filter = "alberta") }}">Alberta</a></li>
                    <li><a href="{{ modify_query(filter = "british columbia") }}">British Columbia</a></li>
                    <li><a href="{{ modify_query(filter = "manitoba") }}">Manitoba</a></li>
                    <li><a href="{{ modify_query(filter = "nova scotia") }}">Nova Scotia</a></li>
                    <li><a href="{{ modify_query(filter = "ontario") }}">Ontario</a></li>
                    <li><a href="{{ modify_query(filter = "quebec") }}">Quebec</a></li>
                  </ul>
                </li>
                <li><a href="{{ modify_query(filter = "china") }}">China</a></li>
                <li><a href="{{ modify_query(filter = "france") }}">France</a></li>
                <li><a href="{{ modify_query(filter = "germany") }}">Germany</a></li>
                <li><a href="{{ modify_query(filter = "india") }}">India</a></li>
                <li><a href="{{ modify_query(filter = "italy") }}">Italy</a></li>
                <li><a href="{{ modify_query(filter = "japan") }}">Japan</a></li>
                <li><a href="{{ modify_query(filter = "korea") }}">Korea</a></li>
                <li><a href="{{ modify_query(filter = "malaysia") }}">Malaysia</a></li>
                <li><a href="{{ modify_query(filter = "mexico") }}">Mexico</a></li>
                <li><a href="{{ modify_query(filter = "netherlands") }}">Netherlands</a></li>
                <li><a href="{{ modify_query(filter = "singapore") }}">Singapore</a></li>
                <li><a href="{{ modify_query(filter = "spain") }}">Spain</a></li>
                <li><a href="{{ modify_query(filter = "sweden") }}">Sweden</a></li>
                <li><a href="{{ modify_query(filter = "switzerland") }}">Switzerland</a></li>
                <li><a href="{{ modify_query(filter = "taiwan") }}">Taiwan</a></li>
                <li><a href="{{ modify_query(filter = "thailand") }}">Thailand</a></li>
                <li><a href="{{ modify_query(filter = "turkey") }}">Turkey</a></li>
                <li><a href="{{ modify_query(filter = "united arab emirates") }}">United Arab Emirates</a></li>
                <li><a href="{{ modify_query(filter = "uk") }}">United Kingdom</a></li>
                <li class="dropdown-submenu">
                  <a href="{{ modify_query(filter = "usa") }}">United States</a>
                  <ul id="us-states" class="dropdown-menu">
                    <li><a href="{{ modify_query(filter = "al") }}">Alabama</a></li>
                    <li><a href="{{ modify_query(filter = "ak") }}">Alaska</a></li>
                    <li><a href="{{ modify_query(filter = "az") }}">Arizona</a></li>
                    <li><a href="{{ modify_query(filter = "ar") }}">Arkansas</a></li>
                    <li><a href="{{ modify_query(filter = "ca") }}">California</a></li>
                    <li><a href="{{ modify_query(filter = "co") }}">Colorado</a></li>
                    <li><a href="{{ modify_query(filter = "ct") }}">Connecticut</a></li>
                    <li><a href="{{ modify_query(filter = "de") }}">Delaware</a></li>
                    <li><a href="{{ modify_query(filter = "dc") }}">District of Columbia</a></li>
                    <li><a href="{{ modify_query(filter = "fl") }}">Florida</a></li>
                    <li><a href="{{ modify_query(filter = "ga") }}">Georgia</a></li>
                    <li><a href="{{ modify_query(filter = "hi") }}">Hawaii</a></li>
                    <li><a href="{{ modify_query(filter = "id") }}">Idaho</a></li>
                    <li><a href="{{ modify_query(filter = "il") }}">Illinois</a></li>
                    <li><a href="{{ modify_query(filter = "in") }}">Indiana</a></li>
                    <li><a href="{{ modify_query(filter = "ia") }}">Iowa</a></li>
                    <li><a href="{{ modify_query(filter = "ks") }}">Kansas</a></li>
                    <li><a href="{{ modify_query(filter = "ky") }}">Kentucky</a></li>
                    <li><a href="{{ modify_query(filter = "la") }}">Louisiana</a></li>
                    <li><a href="{{ modify_query(filter = "me") }}">Maine</a></li>
                    <li><a href="{{ modify_query(filter = "md") }}">Maryland</a></li>
                    <li><a href="{{ modify_query(filter = "ma") }}">Massachusetts</a></li>
                    <li><a href="{{ modify_query(filter = "mi") }}">Michigan</a></li>
                    <li><a href="{{ modify_query(filter = "mn") }}">Minnesota</a></li>
                    <li><a href="{{ modify_query(filter = "ms") }}">Mississippi</a></li>
                    <li><a href="{{ modify_query(filter = "mo") }}">Missouri</a></li>
                    <li><a href="{{ modify_query(filter = "mt") }}">Montana</a></li>
                    <li><a href="{{ modify_query(filter = "ne") }}">Nebraska</a></li>
                    <li><a href="{{ modify_query(filter = "nv") }}">Nevada</a></li>
                    <li><a href="{{ modify_query(filter = "nh") }}">New Hampshire</a></li>
                    <li><a href="{{ modify_query(filter = "nj") }}">New Jersey</a></li>
                    <li><a href="{{ modify_query(filter = "nm") }}">New Mexico</a></li>
                    <li><a href="{{ modify_query(filter = "ny") }}">New York</a></li>
                    <li><a href="{{ modify_query(filter = "nc") }}">North Carolina</a></li>
                    <li><a href="{{ modify_query(filter = "nd") }}">North Dakota</a></li>
                    <li><a href="{{ modify_query(filter = "oh") }}">Ohio</a></li>
                    <li><a href="{{ modify_query(filter = "ok") }}">Oklahoma</a></li>
                    <li><a href="{{ modify_query(filter = "or") }}">Oregon</a></li>
                    <li><a href="{{ modify_query(filter = "pa") }}">Pennsylvania</a></li>
                    <li><a href="{{ modify_query(filter = "ri") }}">Rhode Island</a></li>
                    <li><a href="{{ modify_query(filter = "sc") }}">South Carolina</a></li>
                    <li><a href="{{ modify_query(filter = "sd") }}">South Dakota</a></li>
                    <li><a href="{{ modify_query(filter = "tn") }}">Tennessee</a></li>
                    <li><a href="{{ modify_query(filter = "tx") }}">Texas</a></li>
                    <li><a href="{{ modify_query(filter = "ut") }}">Utah</a></li>
                    <li><a href="{{ modify_query(filter = "vt") }}">Vermont</a></li>
                    <li><a href="{{ modify_query(filter = "va") }}">Virginia</a></li>
                    <li><a href="{{ modify_query(filter = "wa") }}">Washington</a></li>
                    <li><a href="{{ modify_query(filter = "wv") }}">West Virginia</a></li>
                    <li><a href="{{ modify_query(filter = "wi") }}">Wisconson</a></li>
                    <li><a href="{{ modify_query(filter = "wy") }}">Wyoming</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="btn-group sort-group">
              <a class="btn{% if sort != 'old' %} active{% endif %}" id="new" title="Sort Newest First" href="{{ modify_query(sort = "new") }}"><i class="fas fa-chevron-down"></i></a>
              <a class="btn{% if sort == 'old' %} active{% endif %}" id="old" title="Sort Oldest First" href="{{ modify_query(sort = "old") }}"><i class="fas fa-chevron-up"></i></a>
            </div>
          </li>
          <li>
            <div class="btn-group size-group">
              <a class="btn{% if size != 'big' %} active{% endif %}" id="small" title="Small Grid" href="{{ modify_query(size = "small") }}"><i class="fa-solid fa-grid"></i></a>
              <a class="btn{% if size == 'big' %} active{% endif %}" id="big" title="Big Grid" href="{{ modify_query(size = "big") }}"><i class="fa-solid fa-grid-2"></i></a>
            </div>
          </li>
          <li>
            <div class="btn-group">
              <a class="btn active" id="labels-button" title="Toggle Captions" href="#"><i class="fas fa-subtitles"></i></a>
            </div>
          </li>
        </ul>

        <ul class="nav pull-right">
          <li>
            <div class="btn-group">
              <a class="btn" data-toggle="modal" title="About" href="#about"><i class="fa-solid fa-apple-whole"></i></a>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>


  <div class="container">


    <div class="row">

      {% for store in stores %}

      <div id="{{ store.1 }}" class="{% if size == 'big' %}span6 {% else %}span4 {% endif %}store {{ store.7 }}{% if store.4 %} {{ store.4 }}{% endif %} {{ store.5 }}">

        <div class="photo">
          <a target="_blank" href="{{ store.10 }}">
            <img data-href="{{ store.11 }}" src="/img/blank.png" alt="{{ store.2 }}" onerror="imgError(this);">
          </a>
        </div>

        <div class="ribbon">
          <p><strong><a class="anchor" data-href="#{{ store.1 }}" href="#{{ store.1 }}">#{{ store.0 }} {{ store.2 }}</a></strong> <span class="rnum">R{{ store.8 }}</span>{% if store.9 %}<span class="pull-right"><i title="Top Pick" class="fas fa-star"></i></span>{% endif %}</p>
          <p>{% if store.3 %}{{ store.3 }}, {% endif %}{% if store.4 %}<a href="{{ modify_query(filter = store.4.split()|join("_")|lower()) }}">{{ store.4 }}</a>, {% endif %}<a href="{{ modify_query(filter = store.5|lower()) }}">{{ store.5 }}</a></p>
          <p>Opened: <a href="{{ modify_query(year = store.7) }}">{{ store.6 }}</a></p>
        </div>

      </div>

      {% endfor %}

    </div>
  </div>


  <div class="modal hide fade" id="about">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
    </div>
    <div class="modal-body">
      <p>Apple Storefronts is made by <a target="_blank" href="https://thomaspark.co" onclick="pageTracker._link(this.href); return false;">Thomas Park</a>. Contact him by <a href="mailto:hello@thomaspark.co">email</a> or <a target="_blank" href="https://twitter.com/thomashpark">Twitter</a>, or <a target="_blank" href="https://thomaspark.co/2012/07/apple-storefronts-redux/" onclick="pageTracker._link(this.href); return false;">read more</a> about this site.</p>

      <p>Images from <a target="_blank" href="https://apple.com">Apple</a>. Data courtesy of <a target="_blank" href="http://www.ifoapplestore.com/">ifoAppleStore</a>.</p>

      <p>Built using <a target="_blank" href="https://cloud.google.com/appengine/">Google App Engine</a>, <a target="_blank" href="https://getbootstrap.com/">Bootstrap</a> with <a target="_blank" href="https://bootswatch.com/" onclick="pageTracker._link(this.href); return false;">Bootswatch</a>, and <a target="_blank" href="https://jquery.com/">jQuery</a> with <a target="_blank" href="https://github.com/sebarmeli/JAIL">Jail</a>. Background image from <a target="_blank" href="https://subtlepatterns.com/">Subtle Patterns</a>.</p>


      <div id="social">
        <div class="fb-like" data-href="http://applestorefronts.appspot.com/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="/js/jail.0.9.5.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/scripts.js"></script>

</body>
</html>